<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center">
      <h1 class="display-4">About Us</h1>
      <p class="lead">
      Daffodil Software is a software engineering partner to 100+ organizations across the globe and has been helping them in making their software products more robust, teams more productive and processes more efficient. Our ability to look beyond technologies to deliver innovative solutions with scale and speed has been lauded by our clients as well as the tech community worldwide.
      Since our inception, we have invested in organic growth; building on our engineering capabilities, organizational processes, and culture required to deliver a truly collaborative ecosystem for solving technology challenges. At the core of Daffodil lies a culture rooted in innovation, learning and a result-oriented mindset.
      </p>
  </div>
</div>