<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center">
      <h1 class="display-4">DAFFODIL_BLOG</h1>
      <p class="lead">
      Software Engineering
      Services | 
      Helping organizations to design, engineer, and deliver innovative software solutions with speed and scale
      </p>
      <hr class="my-4">
      <p>
      Our exclusive Discover & Frame workshop enables you to validate concepts and transform ideas into concrete requirements. The data-driven proof of concept helps you to pursue ideas that have real business value and can generate profitable revenue.
      </p>
      <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
    </div>
  </div>
</div>